---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const pageTitle = "My Learning Astro Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
    <body>
        <Header />

        <h1>{pageTitle}</h1>
        <h2>Reflections on Ghost of Tsushima</h2>

        <p>This is the first essay I write commenting a piece of game, movie, book, art or anything I find useful.</p>
        <p>We start with the journey of Jin Sakai in the island of Tsushima.</p>

        <Footer />
<script>
    import "../scripts/menu.js";
</script>
    </body>
</html>
